/*********************************************************
*
*Author: Krystian Pieroń
*Date: 14.10.18
*********************************************************/


body{
    color: red;
}
div{
    color: blue;
}

p{
    color: green;
}

a{
    color: yellow;
    text-decoration: underline;
}