/*********************************************************
*
*Author: Krystian Pieroń
*Date: 14.10.18
*********************************************************/




/* wszystkie znaczniki p*/
p{   
    font-size: 18px; 
    color: red;
}

#header p {
    font-size:24px;
}

h1{
    font-size: 44px;
} 