/*********************************************************
*
*Author: Krystian Pieroń
*Date: 14.10.18
*********************************************************/

span[class~="deck"]{
    color: purple;
}

div[id]{
    background: grey;
}

a[href$="pdf"]{
    color: red;
}