/*********************************************************
*
*Author: Krystian Pieroń
*Date: 14.10.18
*********************************************************/

li:nth-child(1), li:nth-child(7){
    font-weight: bold;
}

/*li:nth-child(even){
    background: green;
}

li:nth-child(odd){
    background: pink;
}
*/

li:nth-child(2n + 1){
    color: green;
}