/*********************************************************
*
*Author: Krystian Pieroń
*Date: 14.10.18
*********************************************************/

a:hover{
    color: red;
}

a:active{
    color: orange;
}

a:visited{
    color: purple;
}